﻿
<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kontrak Vendor</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group">
                            <label class="col-md-3 control-label">Barang</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required name="Kode_Barang" class="form-control all-readonly" />
                                    <input type="text" required name="Barang_ID" class="form-control all-readonly hidden" />
                                    <div class="input-group-btn">
                                        <button id="btn-barang-lookup" type="button" class="btn btn-primary view-disabled" onclick="itablelookupbarang.openmodal()"><i class="icon-search4"></i></button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button id="btn-barang-clear" type="button" class="btn btn-default view-disabled" onclick="itablelookupbarang.clear()"><i class="icon-eraser2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="text" required name="Nama_Barang" class="form-control all-readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Supplier</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required name="Kode_Supplier" class="form-control all-readonly" />
                                    <input type="text" required name="SupplierID" class="form-control all-readonly hidden" />
                                    <div class="input-group-btn">
                                        <button id="btn-supplier-lookup" type="button" class="btn btn-primary view-disabled" onclick="itablelookupsupplier.openmodal()"><i class="icon-search4"></i></button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button id="btn-supplier-clear" type="button" class="btn btn-default view-disabled" onclick="itablelookupsupplier.clear()"><i class="icon-eraser2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="text" required name="Nama_Supplier" class="form-control all-readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Harga</label>
                            <div class="col-md-9">
                                <input type="text" required name="Harga" class="form-control" maxlength="100" />
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;
                    // detail value
                    t['Barang_ID'].value = r.Data.Barang_ID;
                    t['Kode_Barang'].value = r.Data.Kode_Barang;
                    t['Nama_Barang'].value = r.Data.Nama_Barang;
                    t['SupplierID'].value = r.Data.SupplierID;
                    t['Kode_Supplier'].value = r.Data.Kode_Supplier;
                    t['Nama_Supplier'].value = r.Data.Nama_Supplier;
                    isetup.cleave_Harga.setRawValue(r.Data.Harga);

                    isetup.init();
                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $('#btn-barang-lookup').attr('disabled', 'disabled');
                        $('#btn-barang-clear').attr('disabled', 'disabled');
                        $('#btn-supplier-lookup').attr('disabled', 'disabled');
                        $('#btn-supplier-clear').attr('disabled', 'disabled');


                    };

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Barang_ID: t['Barang_ID'].value,
                        Kode_Barang: t['Kode_Barang'].value,
                        Nama_Barang: t['Nama_Barang'].value,
                        SupplierID: t['SupplierID'].value,
                        Kode_Supplier: t['Kode_Supplier'].value,
                        Nama_Supplier: t['Nama_Supplier'].value,
                        Harga: parseFloat(isetup.cleave_Harga.getRawValue()) || 0,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="Barang_ID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }


        });
        isetup.cleave_Harga = new Cleave(isetup.form['Harga'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });
    });
</script>