﻿@{
    ViewBag.Title = "Linen Kotor Pasien";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using CSSD.Helper


<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-filter" href="javascript:itable.openfilter()"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" data-itable-filter="All" name="all" value="" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>Dari Tanggal</label>
                <input type="date" name="periode" data-itable-filter="PeriodeStart" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
            </div>
            <div class="col-md-2">
                <label>Sampai Tanggal</label>
                <input type="date" name="sampai" data-itable-filter="PeriodeEnd" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
            </div>
            @*<label class="control-label col-md-2">Show</label>*@
            <div class="col-md-1">
                <label>Page</label>
                <select class="form-control itable-pagesize" style="width: auto;" name="show">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header" style="padding-bottom: 20px;">
                
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting text-center" data-itable-sorting="No_Bukti">No Bukti<i></i></th>
                            <th class="sorting" data-itable-sorting="Tanggal">Tanggal<i></i></th>
                            <th class="sorting text-right" data-itable-sorting="Jml_Item">Jmlh Item<i></i></th>
                            <th class="sorting" data-itable-sorting="Keterangan">Keterangan<i></i></th>
                            <th class="sorting" data-itable-sorting="NRM">NRM<i></i></th>
                            <th class="sorting" data-itable-sorting="NamaPasien">Nama Pasien<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Periode</label>
                            <div class="col-md-8">
                                <input type="date" name="periode" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Sampai</label>
                            <div class="col-md-8">
                                <input type="date" name="sampai" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Show</label>
                            <div class="col-md-8">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'No_Bukti',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += `<tr><td colspan="${$(itable.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`;
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += `<td class="text-left"><a onclick="extend(this,'${value.No_Bukti}', '${getcurrencyfromfloat(value.Nilai_Transaksi)}' , '${getcurrencyfromfloat(value.Total_Nilai)}', '${value.TypeTransaksi}', '${value.SectionName}')"><span class='icon-diff-added'></span></a>&nbsp;${(value.No_Bukti || '-')}</td>`;

                        tbody += '<td>' + value.Tanggal + '</td>';
                        tbody += '<td class="text-right">' + value.Jml_Item + '</td>';
                        tbody += '<td>' + value.Keterangan + '</td>';
                        tbody += '<td>' + value.NRM + '</td>';
                        tbody += '<td>' + value.NamaPasien + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'VIEW\',{ id : \'' + value.No_Bukti + '\'})"><i class="icon-eye"></i> View</a></li>';
                        //tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.No_Bukti + '\'})"><i class="icon-pencil"></i> Edit</a></li>';
                        tbody += '<li><a href="javascript:isetup.opensetup(\'DELETE\',{ id : \'' + value.No_Bukti + '\'})"><i class="icon-trash"></i> Delete</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        itable.refresh();
        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['periode'].value = $('#formtable [data-itable-filter="PeriodeStart"]')[0].value;
            f['sampai'].value = $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value;
            f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = f['periode'].value;
            $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = f['sampai'].value;
            $('#formtable .itable-pagesize')[0].value = f['show'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }

    });

    const extend = (t, nobukti, nilaitransfer, nilaitotal, tipetransper, section) => {
        const tr = $(t).closest('tr');
        if (tr.next().hasClass('child')) {
            $(t).find('span').removeClass('icon-diff-removed').addClass('icon-diff-added');
            tr.next().remove();
        } else {
            tr.after(`
                <tr class="child">
                    <td class="child" colspan="10">
                        <ul>
                            <li>
                                <span class ="dtr-title">No Bukti</span>
                                <span class ="dtr-data">${nobukti}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Nilai Transaksi</span>
                                <span class ="dtr-data">${nilaitransfer}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Nilai Total</span>
                                <span class ="dtr-data">${(nilaitotal || '-')}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Tipe Transaksi</span>
                                <span class ="dtr-data">${tipetransper}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Section</span>
                                <span class ="dtr-data">${section}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            `);
            $(t).find('span').removeClass('icon-diff-added').addClass('icon-diff-removed');
        }
    };
</script>

@Html.Partial("Setup")
@Html.Partial("_LookUpBarang")
@Html.Partial("_LookUpPasien")