﻿@using CSSD.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>
<div id="modalsetuphapus" class="modal fade" role="dialog" style="z-index:9999">
    <div class="modal-dialog modal-full ">
        <div class="modal-content">
            <div class="modal-header p-3 mb-2 bg-danger text-white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">HAPUS DATA</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group hidden">
                                    <label class="col-md-4 control-label">No Bukti</label>
                                    <div class="col-md-8">
                                        <input type="text" name="No_Bukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Alasan Hapus</label>
                                    <div class="col-md-8">
                                        <input type="text" name="AlasanHapus" required class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-delete btn btn-danger" onclick="modaldelete()"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Linen Kotor Pasien</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="No_Bukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-6">
                                        <input type="date" name="Tanggal" required class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))"/>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="time" name="Waktu_Transaksi" required class="form-control" value="@(DateTime.Now.ToString("HH':'mm"))"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tgl Selesai</label>
                                    <div class="col-md-6">
                                        <input type="date" name="Tanggal_Selesai" required class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="time" name="Waktu_Selesai" required class="form-control" value="@(DateTime.Now.ToString("HH':'mm"))"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Reg</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" required name="NoReg" class="form-control " />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary view-disabled" onclick="modallookupnrm.openmodal()"><i class="icon-search4"></i></button>
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default view-disabled" onclick="modallookupnrm.clear()"><i class="icon-eraser2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">NRM</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NRM" class="form-control all-readonly " required />
                                    </div>
                                </div><div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NamaPasien" class="form-control all-readonly" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td class="text-center" style="width:100px;">Harga Satuan</td>
                                                <td class="text-center" style="width:100px;">Qty</td>
                                                <td class="text-center" style="width:100px;">Diskon(%)</td>
                                                <td class="text-center" style="width:100px;">Sub Total</td>
                                                <td class="text-center" style="width:80px;">Keterangan</td>
                                                <td>Urutan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="button" class="btn-delete btn btn-danger" onclick="openmodaldelete()"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['No_Bukti'].value = r.Data.No_Bukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Waktu_Transaksi'].value = r.Data.Waktu_Transaksi;
                    t['Tanggal_Selesai'].value = r.Data.Tanggal_Selesai;
                    t['Waktu_Selesai'].value = r.Data.Waktu_Selesai;
                    t['NoReg'].value = r.Data.NoReg;
                    t['NRM'].value = r.Data.NRM;
                    t['NamaPasien'].value = r.Data.NamaPasien;
                    t['Keterangan'].value = r.Data.Keterangan;


                    // detail
                    $(t).find('.input-detail tbody').html('');
                    isetup.DetailKomponenClave = [];
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Kode_Item,
                            value.Nama_Barang,
                            value.Harga_Satuan,
                            value.Qty,
                            value.Diskon,
                            value.SubTotal,
                            value.Keterangan,
                            value.NOUrut
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        No_Bukti: t['No_Bukti'].value,
                        Tanggal: t['Tanggal'].value,
                        Waktu_Transaksi: t['Waktu_Transaksi'].value,
                        Tanggal_Selesai: t['Tanggal_Selesai'].value,
                        Waktu_Selesai: t['Waktu_Selesai'].value,
                        NoReg: t['NoReg'].value,
                        NRM: t['NRM'].value,
                        NamaPasien: t['NamaPasien'].value,
                        Keterangan: t['Keterangan'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Kode_Item : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                                Diskon: $(value).find('.Diskon').val(),
                                Keterangan: $(value).find('.Keterangan').val(),
                                NOUrut: $(value).find('.NOUrut').val(),

                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE')
                    $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        isetup.hitungjumlah = (t) => {
            if (isetup.form['_PROCESS'].value === 'VIEW') return;
            const qty = $(t).closest('tr').find('.Qty').val(); //parseFloat(t.value) || 0;
            const harga = getfloatfromcurrency($(t).closest('tr').find('.harga_satuan').html());
            var  diskonpersen = $(t).closest('tr').find('.Diskon').val();

            if (diskonpersen == '' || diskonpersen < 0) {
                diskonpersen = 0;
                $(t).closest('tr').find('.Diskon').val(0);
            }
            else if (diskonpersen > 100) {
                diskonpersen = 100;
                $(t).closest('tr').find('.Diskon').val(100);
            }

            const jumlah = harga * qty;
            const jumlah_diskon = jumlah * (parseInt(diskonpersen) / 100);
            const subtotal = jumlah - jumlah_diskon;
            var hasil = (subtotal == 0) ? 0 : getcurrencyfromfloat(subtotal);
            $(t).closest('tr').find('.subtotal').val(hasil);
        };

        isetup.DetailKomponenClave = [];

        isetup.adddetailbody = (kode_barang, nama_barang, harga_satuan, qty, diskon, subtotal, keterangan, nourut) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + kode_barang + '"]').length) {
                alerterror(nama_barang + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + kode_barang + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customremovedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td>' + kode_barang + '</td>';
            _detail += '<td>' + nama_barang + '</td>';
            _detail += '<td class="text-right harga_satuan">' + getcurrencyfromfloat(harga_satuan) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" required class="form-control text-right Qty" step="any" min="1" value="' + (qty || 1) + '" /></td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Diskon" step="any" min="0" max="100" value="' + (diskon || 0) + '" /></td>';
            _detail += '<td><input type="text"  class="form-control text-right subtotal" min="0"  value="' + (getcurrencyfromfloat(subtotal) || '0') + '" /></td>';
            _detail += '<td><input type="text" class="form-control Keterangan" value="' + (keterangan || '') + '" /></td>';
            _detail += '<td><input type="number" required class="form-control NOUrut" value="' + nourut + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
            // manjalankan event change no 5
            $(isetup.form).find('.input-detail tbody tr td:nth-child(5) input').change();
            isetup.DetailKomponenClave.push({
                id: kode_barang,
                harga_satuan: new Cleave($(isetup.form).find('tbody tr:last .harga_satuan')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                subtotal: new Cleave($(isetup.form).find('tbody tr:last .subtotal')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),

            });
        };

        isetup.customremovedetail = (t) => {
            var id = parseInt($(t).closest('tr').data('id'));
            DetailKomponenClave = isetup.DetailKomponenClave.filter(x => x.id != id);
            removedetail(t);

        }

    });

    function openmodaldelete() {
        $('#modalsetuphapus').modal();

    }

    function modaldelete() {
        //var f = $('#modalsetuphapus form')[0];
        //if (f['_DELETE'].value === 'DELETE')
        //$(f).find('[type="submit"].btn-danger').focus();
        var t = isetup.form;
        $.ajax({
                url: '@Url.Action("Save", "LinenKotorPasien")',
                data: {
                    _process: 'DELETE',
                    model: {
                        No_Bukti: t['No_Bukti'].value,
                        Alasan_Batal: $("input[name=AlasanHapus]").val(),
                    }
                },
                method: 'POST',
                dataType: 'JSON',
                success: function (dt) {
                    if (!dt.IsSuccess) {
                        alerterror(dt.Message, 'info');
                    }
                    else {
                        $('#modalsetuphapus').modal('hide');
                        isetup.modal.modal('hide');
                        itable.refresh();
                    }
                }
            });
    }
</script>