﻿@using CSSD.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }

    #modalsetup .input-detail tbody tr td:nth-child(3) {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stok Opname</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="No" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Lokasi</label>
                                    <div class="col-md-9">
                                        <select name="Lokasi" required class="all-disabled">@Html.Raw(HList.AmprahanDari)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Jenis</label>
                                    <div class="col-md-9">
                                        <select name="Jenis" onchange="isetup.cleardetail()" required>@Html.Raw(HList.OpnameKelompokJenis)</select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td>Konversi</td>
                                                <td class="text-center">Qty System</td>
                                                <td class="text-center" style="width: 80px;">Qty Fisik</td>
                                                <td class="text-center">Selisih</td>
                                                <td class="text-right">Harga</td>
                                                <td>Kategori</td>
                                                <td>Keterangan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                    <button type="button" onclick="isetup.prosesso()" class="btn btn-warning btn-proses-so"><i class="icon-circles2"></i> PROSES SO</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.No;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Lokasi'].value = $(t['Lokasi']).find('option[data-lokasi="' + r.Data.Lokasi + '"]').val();
                    //t['Lokasi'].value = r.Data.Lokasi;;
                    t['Jenis'].value = r.Data.Jenis;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Konversi,
                            value.QtySystem,
                            value.QtyFisik,
                            value.Harga,
                            value.Kategori,
                            value.Keterangan
                        );
                    });

                    isetup.init();
                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['Jenis']).attr('disabled', 'disabled');
                        $(t).find('.view-hide').addClass('hide');
                        $(t).find('.btn-proses-so').addClass('hide');
                    } else if (t['_PROCESS'].value === 'VIEW') {
                        if (r.Data.Posted)
                            $(t).find('.btn-proses-so').addClass('hide');
                        else
                            $(t).find('.btn-proses-so').removeClass('hide');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoBukti: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        Lokasi: $(t['Lokasi']).find('option:selected').data('lokasi'),
                        Jenis: t['Jenis'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                                Keterangan: $(value).find('.Keterangan').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') {
                    $(t).find('[type="submit"].btn-danger').focus();
                }
            },
            onopenmodalcreate: function (t, param) {
                isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['Lokasi'].value = '@Request.Cookies["CSSD_Section_Id"].Value';
                isetup.init();
                $(isetup.form).find('.btn-proses-so').addClass('hide');
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['Jenis']).select2();
        $(isetup.form['Lokasi']).select2();

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
        };

        isetup.cleardetail = () => {
            if (isetup.form['_PROCESS'].value === 'CREATE')
                $(isetup.form).find('.input-detail tbody').html('');
        };

        isetup.prosesso = () => {
            $.ajax({
                url: '@Url.Action("ProsesSO")',
                type: 'POST',
                data: { id: isetup.form['NoBukti'].value },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        itable.refresh();
                        isetup.modal.modal('hide');
                    } else {
                        alerterror(r.Message);
                    }
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });
        };

        isetup.adddetailbody = (id, kode, nama, satuan, konversi, qtysystem, qtyfisik, harga, kategori, keterangan) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            const selisih = qtyfisik - qtysystem;

            var _detail = '';
            _detail += '<tr data-id="' + id + '" data-qtysystem="' + (qtysystem || 0) + '" title="' + nama + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="td-text text-center">' + (qtysystem || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qtyfisik + '" /></td>';
            _detail += '<td class="td-text text-center Selisih">' + selisih + '</td>';
            _detail += '<td class="td-text text-right">' + (getcurrencyfromfloat(harga) || 0) + '</td>';
            _detail += '<td class="td-text">' + (kategori || '-') + '</td>';
            _detail += '<td><input type="text" class="form-control Keterangan" value="' + (keterangan || '') + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qtysystem = parseFloat($(tr).data('qtysystem'));
            const qtyfisik = parseFloat(tr.find('.Qty').val());
            const selisih = qtyfisik - qtysystem;
            tr.find('.Selisih').html(selisih || 0);
        };
    });
</script>